@font-face {
	font-family: 'Cal Sans';
	src: local('Cal Sans'), local('Cal Sans'),
		url('../fonts/CalSans-SemiBold.woff2') format('truetype');
	font-style: normal;
	font-weight: 600;
	font-display: swap;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
